<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card Hover Effects</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
    <div class="mainCont">
        <form action="/" method="POST" id="sliderForm" name="form">
            <div class="slidecontainer">
                <input type="range" min="1" max="52" value="{{ (index . 0).SliderInput }}" class="slider" id="myRange">
            </div>
            <input type="number" id="fname" name="fname" value="{{ (index . 0).SliderInput }}" max="52">
            <script>
                var slider = document.getElementById("myRange");
                var output = document.getElementById("fname");
                output.innerHTML = slider.value;
                slider.oninput = function() {
                    document.getElementById("fname").value = this.value;
                }
                slider.onmouseup = function() {
                    document.getElementById("sliderForm").submit();
                }
            </script>
        </form>
        <div class="container">{{range $index, $item := .}}
            <div class="card">
                <img src="{{$item.Image}}"></img>
                <div class="info">
                    <h2>{{$item.Name}}</h2>
                    <div class="title">{{$item.FirstAlbum}}</div>
                    <div class="desc">
                        {{range $i, $a := $item.Members}}
                        <sub>{{$a}}</sub><br> {{end}}
                    </div>
                </div>
                <div class="actions">
                    <button class="trade">TRADE</button>
                    <div class="overlay"></div>
                    <div class="heart-container">
                        <div class="heart"></div>
                    </div>
                </div>
            </div>{{end}}
        </div>
    </div>
</body>

</html>