<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card Hover Effects</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>
    <div class="mainCont">
        <button class="collapsible"></button>
        <div class="content">
            <form action="/" method="POST" id="sliderForm" name="form">
                <div class="slidecontainer">
                    <input type="range" min="1" max="{{ (index . 0).JSONLen }}" value="{{ (index . 0).SliderInput }}" class="slider" id="range-slider" step="1">
                </div>
                <input type="number" id="fname" name="fname" value="{{ (index . 0).SliderInput }}" max="{{ (index . 0).JSONLen }}" min="1">
                <script src="/static/js/submitForm.js"></script>
            </form>
        </div>
        <script src="/static/js/collapsible.js"></script>
        <div class="container">{{range $index, $item := .}}
            <div class="card">
                <img src="{{$item.Image}}"></img>
                <div class="info">
                    <h2>
                        <a target="_blank" rel="noopener noreferrer" href="https://groupietrackers.herokuapp.com/api/artists/{{$item.ActorsID}}">{{$item.Name}}</a>
                    </h2>
                    <div class="title">Created: {{$item.CreationDate}}</div>
                    <div class="title">#1 album: <br>{{$item.FirstAlbum}}</div>
                    <div class="desc">
                        <p>
                            {{range $i, $a := $item.Members}} {{ if (lt $i 4)}} {{$a}}
                            <br> {{else if (eq $i 4)}}
                            <a target="_blank" rel="noopener noreferrer" href="https://groupietrackers.herokuapp.com/api/artists/{{$item.ActorsID}}">...</a> {{else}} {{end}} {{end}}
                        </p>
                    </div>
                </div>
                <div class="actions">
                    <button class="trade">TRADE</button>
                    <div class="overlay"></div>
                    <div class="heart-container" onclick="alert('{{range $locIndex, $locItem := $item.Locations}}{{ $locItem}}:\n   {{range $_, $v := index $item.RelationStruct $locItem}}{{$v}}\n{{end}}\n{{end}}');">
                        <div class="heart"></div>
                    </div>
                </div>
            </div>{{end}}
        </div>
    </div>
</body>

</html>